@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AppFont;
  src: url("../public/Montserrat.ttf");
}

* {
  font-size: 14px;
  font-weight: 500;
  color: theme('colors.darkGrey');
}

h1 {
  font-size: 20px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: theme('colors.darkGrey');
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: theme('colors.darkGrey')
}

.App {
  @apply flex flex-col items-center
}

.app-page {
  @apply w-full flex flex-col p-md
  max-width: 1040px;
}

.app-icon {
  @apply flex justify-center select-none
}

.app-input {
  @apply outline-none bg-lightGrey text-darkGrey px-md py-sm rounded-full flex gap-xs text-[16px]
}
.app-input input {
  @apply bg-transparent outline-none w-full
}

.app-button {
  @apply select-none px-lg py-sm rounded text-white cursor-pointer text-[16px]
}

.app-modal-wrapper {
  @apply
  absolute
  top-[0px] left-[0px] bottom-[0px] right-[0px]
  flex items-center justify-center
  ;
  background-color: rgba(0,0,0,.15);
  backdrop-filter: blur(3px);
}
.app-modal {
  @apply
  w-[600px]
  min-h-[200px]
  max-h-[360px]
  bg-white
  rounded
  p-md
  shadow-sm
  flex
  flex-col
}
